# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=ca101d48d5a73d1f38273beebc32cbeb
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> symfony/framework-bundle ###
APP_REDIS_URL=redis://dddpatterns.local:6379
APP_REDIS_DEFAULT_LIFETIME=60
###< symfony/framework-bundle ###

