###> PHPStorm ###
.idea/
###< PHPStorm ###

###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> APP ###
/config/twitter.conf.yaml
###< APP ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
